<nav class="nav-footer">
    <a href="../index.html">Home Page</a> | 
    <a href="https://github.com/alliecostner27">GitHub</a> |
    <a href="https://github.com/alliecostner27/alliecostner27.github.io/">GitHub.io</a> |
    <a href="https://www.freecodecamp.org/alliecostner27">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/alliecostner27">CodeAcademy</a> |
    <a href="https://www.linkedin.com/in/allie-costner-64856b224/">LinkedIn</a>
</nav>

<p> Page Designed by ACostnerDesigns.co &copy;2024</p>
<p>Certified in <a href="https://www.freecodecamp.org/certification/alliecostner27/responsive-web-design">Responsive Web Design</a> and <a href="https://www.freecodecamp.org/certification/alliecostner27/javascript-algorithms-and-data-structures-v8">Certified in JS</a> </p>