<h1>Allie Costner | ITIS3135</h1>
        <nav class="nav-header">
            <a href="./introduction.html">Introduction</a> |
            <a href="./contract.html">Contract</a> |
            <a href="./about.html">About</a> |
            <a href="./website_evaluations.html">Website Evaluations</a> |
            <a href="./stuff/Fun Page! 🎉.htm">Fun Page</a> |
            <a href="./tables.html">Tables</a> |
            <a href="./forms.html">Forms</a> |
            <a href="./firstscripts.html">First Scripts</a> | 
            <a href="./hobby/index.html">Hobby</a> |
            <a href="./byo_intro.html">BYO</a> |
            <a href="./drawing.html">Drawing</a> |
            <a href="./slideshow.html">Slideshow</a>
            <a href="./client_project/index.html">Client Project</a>
        </nav>
